.store-breadcrumbs {
  .breadcrumb {
    background-color: transparent;
    padding: 10px 0 10px;
    margin-bottom: 25px;
  }

  .breadcrumb-item + .breadcrumb-item::before {
      padding: 0 18px 0 12px;
  }

  .breadcrumb-item.active {
    font-weight: 400;
    color: #242424;
  }

  a {
    color: #979797;
    transition: all .4s ease;

    &:hover, &:focus {
      text-decoration: none;
      color: $primary-color;
    }
  }

  
}