.card-dashboard-product {
  margin-bottom: 30px;

  .card-body {

    .product-title {
        font-weight: 500;
        font-size: 18px;
        color: #111111;
    }

    .product-category {
      font-size: 16px;
      font-weight: 400;
      color: #c5c5c5;
    }
  }

}