.card {
  background-color: #fefefe;
  box-shadow: 0px 4px 15px #f1f1f8;
  border-radius: 8px;
  border: none;
  text-decoration: none; 

  .dashboard-card-title {
    font-size: 16px;
    color: #8d8d8d;
    font-weight: 400;
  }

  .dashboard-card-subtitle {
    font-size: 32px;
    color: #111111;
    font-weight: 600;
  }
}